<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Bem Vindos ao <span>Dev Lanches</span></h1>
                <h2>Autonomia e qualidade para você</h2>

                <div class="btns">
                    <a asp-controller="Cardapio" asp-action="Index" class="btn-menu animated fadeInUp scrollto">Cardapio</a>
                </div>
            </div>
        </div>
    </div>
</section>