.ct-grid
{
    stroke-dasharray: 0;
    stroke: rgba(0, 0, 0, .1);
}

.ct-label
{
    font-size: .9rem;
}

.WidgetlineChart .ct-point
{
    stroke-width: 0;
}

.WidgetlineChart.WidgetChart1.WidgetlineChartShadow
{
    -webkit-filter: drop-shadow(0px 15px 6px rgba(47, 139, 230, .6));
            filter: drop-shadow(0px 15px 6px rgba(47, 139, 230, .6));
}

.WidgetlineChart.WidgetChart1 .ct-line
{
    stroke: #2f8be6;
}

.WidgetlineChart.WidgetChart2.WidgetlineChartShadow
{
    -webkit-filter: drop-shadow(0px 15px 6px rgba(247, 126, 23, .6));
            filter: drop-shadow(0px 15px 6px rgba(247, 126, 23, .6));
}

.WidgetlineChart.WidgetChart2 .ct-line
{
    stroke: #f77e17;
}

.WidgetlineChart.WidgetChart3.WidgetlineChartShadow
{
    -webkit-filter: drop-shadow(0px 15px 6px rgba(151, 90, 255, .6));
            filter: drop-shadow(0px 15px 6px rgba(151, 90, 255, .6));
}

.WidgetlineChart.WidgetChart3 .ct-line
{
    stroke: #975aff;
}

.WidgetlineChart.WidgetChart4.WidgetlineChartShadow
{
    -webkit-filter: drop-shadow(0px 15px 6px rgba(64, 192, 87, .6));
            filter: drop-shadow(0px 15px 6px rgba(64, 192, 87, .6));
}

.WidgetlineChart.WidgetChart4 .ct-line
{
    stroke: #40c057;
}

.lineChart1 .apexcharts-tooltip
{
    color: #342e49 !important;
}

.lineChart1Shadow
{
    -webkit-filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, .1));
            filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, .1));
    /* Same syntax as box-shadow, except for the spread property */
}

.donut1 .ct-label
{
    font-size: 4rem;

    fill: #f77e17;
}

.donut1 .ct-outstanding .ct-slice-donut
{
    stroke: #f5f5f5;
}

.donut1 .ct-done .ct-slice-donut
{
    stroke: #fcc173;
}

.donut2 .ct-label
{
    font-size: 4rem;

    fill: #2f8be6;
}

.donut2 .ct-outstanding .ct-slice-donut
{
    stroke: #f5f5f5;
}

.donut2 .ct-done .ct-slice-donut
{
    stroke: #81c8f7;
}

.donut3 .ct-label
{
    font-size: 4rem;

    fill: #f55252;
}

.donut3 .ct-outstanding .ct-slice-donut
{
    stroke: #f5f5f5;
}

.donut3 .ct-done .ct-slice-donut
{
    stroke: #fca897;
}

.weather-pic
{
    object-fit: cover;
}

.lineChart2 .ct-point-circle
{
    stroke-width: 2px;
    fill: #fff;
}

.lineChart2 .ct-line
{
    stroke-width: 1px;
}

.lineChart2 .ct-series-a .ct-line
{
    stroke: #60aff0;
}

.lineChart2 .ct-series-a .ct-point-circle
{
    stroke: #2f8be6;
}

.lineChart2 .ct-series-b .ct-line
{
    stroke: #6cd975;
}

.lineChart2 .ct-series-b .ct-point-circle
{
    stroke: #40c057;
}

.lineChart2Shadow
{
    -webkit-filter: drop-shadow(0px 16px 6px rgba(0, 0, 0, .15));
            filter: drop-shadow(0px 16px 6px rgba(0, 0, 0, .15));
    /* Same syntax as box-shadow, except for the spread property */
}

.WidgetlineChart5 .ct-point
{
    stroke-width: 0;
}

.WidgetlineChart5 .ct-line
{
    stroke: url(#widgradient1) !important;
}

.WidgetlineChart5 .ct-grid
{
    stroke: transparent !important;
}

.WidgetlineChart5Shadow
{
    -webkit-filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, .2));
            filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, .2));
    /* Same syntax as box-shadow, except for the spread property */
}

.dash2-user img
{
    width: 6.5rem;
    padding: .4rem; 

    border: 2px solid #975aff;
    background-color: transparent;
}

.dash2-progress
{
    height: 1rem;

    background-color: #f7f7f8;
}
.dash2-progress .progress-bar
{
    border-radius: 0;
}
.dash2-progress .progress-bar:last-child
{
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.lineAreaChart .ct-line
{
    stroke-width: 1px;
}

.lineAreaChart .ct-point-circle
{
    stroke-width: 2px;
    fill: #fff;
}

.lineAreaChart .ct-series-a .ct-area
{
    fill: #b583ff;
}

.lineAreaChart .ct-series-a .ct-point-circle,
.lineAreaChart .ct-series-a .ct-line
{
    stroke: #975aff;
}

.lineAreaChart .ct-series-b .ct-area
{
    fill: #f9877c;
    fill-opacity: .1;
}

.lineAreaChart .ct-series-b .ct-point-circle
{
    stroke: #f55252;
}
