.search-wrapper .search-bar .page-search-input input
{
    background-color: #fff;
}

.search-wrapper .search-bar .search-btn
{
    top: .3rem; 
    left: .4rem;
}
@media (max-width: 575.98px)
{
    .search-wrapper .search-bar .search-btn
    {
        padding: .65rem 1.25rem;
    }
}

.search-wrapper .video-result-swiper.swiper-container .swiper-slide
{
    font-weight: 500;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    width: 18.66rem;
    height: auto;
    padding: .7rem;

    cursor: pointer;

    background-color: #fff;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.search-wrapper .video-result-swiper.swiper-container .swiper-slide .slide-content .card-img-overlay i
{
    color: rgba(255, 255, 255, .65);
}

.search-wrapper .video-result-swiper .swiper-button-next:after,
.search-wrapper .video-result-swiper .swiper-button-prev:after
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 2.35rem;
    height: 2.35rem;

    border-radius: 50%;
    background-color: #975aff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5) !important; 

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.search-wrapper .video-result-swiper .swiper-button-next.swiper-button-disabled,
.search-wrapper .video-result-swiper .swiper-button-prev.swiper-button-disabled
{
    display: none;
}
