@model List<Pedido>

<p class="h3">Lista de Pedidos</p>

<table class="table table-striped table-bordered">
    <thead>
        <!-- Cabeçalho da tabela-->
        <tr>
            <!-- Linha da tabela-->
            <th>Cliente</th> <!-- Coluna específica do cabeçalho-->
            <th>Observação</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <!-- Lugar dos registros da tabela-->
        @foreach (var pedido in Model)
        {
            <tr>
                <!-- Linha-->
                <td>@pedido.ClienteId</td> <!-- Coluna específica para body-->
                <td>@pedido.Observacao</td> <!-- Coluna específica para body-->
                <td>
                    <a class="btn btn-outline-danger" asp-action="apagar" asp-route-id="@pedido.Id">Finalizar Pedido</a>
                    @*// Fazer Método finalizar pedido//*@
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/pedido/pedido-select2.js"></script>
}

