/* Shadows (from mdl http://www.getmdl.io/) */
.context-menu-list
{
    border-color: #e0e0e0; 
    border-radius: .35rem;
    box-shadow: 8px 8px 14px 0 rgba(25, 42, 70, .11);
}
.context-menu-list .context-menu-item
{
    padding: .6rem 2rem;
}
.context-menu-list .context-menu-item:hover
{
    color: inherit; 
    background-color: #f7f7f8 !important;
}
.context-menu-list .context-menu-item.context-menu-hover
{
    background-color: #975aff;
}
.context-menu-list .context-menu-submenu:after
{
    left: 1.2rem;
}

.idleTimer .alert-success
{
    color: #40c057 !important; 
    border-color: #6cd975 !important;
    background-color: #e0fbda !important;
}

.idleTimer .alert-warning
{
    color: #f77e17 !important; 
    border-color: #faa750 !important;
    background-color: #feefd0 !important;
}

.numeral-js-wrapper .table thead tr th
{
    border-top: none;
}
