/*=========================================================================================
	File Name: vertical-overlay-menu.scss
	Description: A overlay style vertical menu with show and hide support. It support
	light & dark version, filpped layout, right side icons, native scroll and borders menu
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Apex - HTML 5 Bootstrap Admin Template
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.vertical-overlay-menu .content
{
    margin-right: 0;
}

.vertical-overlay-menu .navbar .navbar-header
{
    width: 175px;
}
.vertical-overlay-menu .navbar .navbar-header .nav-item
{
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.vertical-overlay-menu .navbar.navbar-brand-center .navbar-header
{
    float: right;

    width: auto;
}

.vertical-overlay-menu .wrapper
{
    top: 4rem;
}

.vertical-overlay-menu .app-sidebar .navigation li a
{
    font-size: .95rem; 

    letter-spacing: .6px;
}

.vertical-overlay-menu .main-menu,
.vertical-overlay-menu.menu-hide .main-menu
{
    right: -250px; 

    width: 250px;

    -webkit-transition: opacity .25s, -webkit-transform .25s;
            transition: opacity .25s, -webkit-transform .25s;
            transition: opacity .25s, transform .25s;
            transition: opacity .25s, transform .25s, -webkit-transform .25s;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    opacity: 0;
}
.vertical-overlay-menu .main-menu .navigation .navigation-header .feather.icon-minus
{
    display: none;
}
.vertical-overlay-menu .main-menu .navigation > li > a > i
{
    font-size: 1.2rem;

    float: right; 

    margin-left: 12px;
}
.vertical-overlay-menu .main-menu .navigation > li > a > i:before
{
    -webkit-transition: 200ms ease all;
            transition: 200ms ease all;
}
.vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after
{
    font-family: 'FontAwesome';
    font-size: 1rem;

    position: absolute;
    top: 10px;
    left: 20px;

    display: inline-block;

    content: '\f105';
    transition: -webkit-transform .2s ease-in-out; 
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
}
.vertical-overlay-menu .main-menu .navigation li.open > a:not(.mm-next):after
{
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
.vertical-overlay-menu .main-menu .main-menu-footer
{
    bottom: 55px;
}
.vertical-overlay-menu .main-menu .main-menu-footer
{
    width: 250px;
}
.vertical-overlay-menu .main-menu.menu-fixed
{
    position: fixed;
    top: 4rem;

    height: calc(100% - 4rem);
}

.vertical-overlay-menu.menu-open .main-menu
{
    z-index: 998; 

    -webkit-transition: opacity .25s, -webkit-transform .25s;
            transition: opacity .25s, -webkit-transform .25s;
            transition: opacity .25s, transform .25s;
            transition: opacity .25s, transform .25s, -webkit-transform .25s;
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);

    opacity: 1;
}

.vertical-overlay-menu.menu-flipped .main-menu
{
    right: inherit; 
    left: -250px;
}

.vertical-overlay-menu.menu-flipped .navbar .navbar-container
{
    margin: 0;
    margin-left: 250px;
}

.vertical-overlay-menu.menu-flipped .navbar .navbar-header
{
    float: left;
}

.vertical-overlay-menu.menu-flipped.menu-open .main-menu
{
    -webkit-transform: translate3d(250px, 0, 0);
            transform: translate3d(250px, 0, 0);
}

.vertical-overlay-menu.navbar-sticky .main-panel
{
    margin-top: 0;
}

.vertical-overlay-menu:not([class*='application']) .main-panel .main-content
{
    min-height: calc((var(--vh, 1vh) * 100) - 7.44rem);
}

.vertical-overlay-menu[class*='application'] .main-panel .main-content
{
    min-height: calc((var(--vh, 1vh) * 100) - 8.45rem);
}

.vertical-overlay-menu footer.footer.fixed-bottom
{
    z-index: 999;
}

.vertical-overlay-menu.vertical-overlay-menu.boxed-layout.menu-open .main-menu
{
    margin-right: 7px; 

    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
}

@media (max-width: 1199.98px)
{
    .vertical-overlay-menu .navbar-header .navbar-toggle
    {
        margin: 12px 6px 0 17px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px)
{
    .vertical-overlay-menu .navbar-toggle .icon-bar
    {
        position: relative;

        display: block;

        width: 24px;
        height: 2px;
        margin: 0 auto; 

        border-radius: 1px;
    }
}

@media (max-width: 991.98px)
{
    .vertical-overlay-menu .main-menu .main-menu-footer
    {
        bottom: 0;
    }
}

@media screen and (max-width: 575px)
{
    .vertical-overlay-menu.boxed-layout.menu-open .main-menu
    {
        margin-right: 0 !important; 

        -webkit-transform: translate3d(-250px, 0, 0) !important;
                transform: translate3d(-250px, 0, 0) !important;
    }
}

[data-textdirection='rtl'] body.vertical-layout.vertical-overlay-menu.menu-collapsed .main-menu .navigation > li > a
{
    padding: 14px 16px !important;
}

[data-textdirection='rtl'] body.vertical-layout.vertical-overlay-menu.menu-collapsed .main-menu .navigation > li.navigation-header .feather.icon-minus
{
    padding: 12px 0;
}

[data-textdirection='rtl'] body.vertical-layout.vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after
{
    content: '\f104';
}

[data-textdirection='rtl'] body.vertical-layout .knob-center-icon
{
    margin-right: -99px;
}
