@{
    Layout = null;
}
@model ClienteCadastrarViewModel
<head>
    <link rel="stylesheet" type="text/css" href="~/Tema/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/Tema/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/Tema/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Tema/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Tema/app-assets/vendors/css/prism.min.css">
    <link rel="stylesheet" type="text/css" href="~/Tema/app-assets/vendors/css/switchery.min.css">
    <link rel="stylesheet" type="text/css" href="~/Tema/app-assets/vendors/css/chartist.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN APEX CSS-->
    <link rel="stylesheet" type="text/css" href="~/Tema/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Tema/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/Tema/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/Tema/app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="~/Tema/app-assets/css/themes/layout-dark.css">
    <link rel="stylesheet" href="~/Tema/app-assets/css/plugins/switchery.css">
    <!-- END APEX CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/Tema/app-assets/css/pages/dashboard1.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Tema/assets/css/style.css">
</head>

<form asp-action="Cadastrar" method="POST">
    <section id="regestration" class="auth-height">
        <div class="row full-height-vh m-0">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card overflow-hidden">
                    <div class="card-content">
                        <div class="card-body auth-img">
                            <div class="row m-0">
                                <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center text-center auth-img-bg py-2">
                                    <img src="~/Tema/app-assets/img/gallery/register.png" alt="" class="img-fluid" width="350" height="230">
                                </div>
                                <div class="col-lg-6 col-md-12 px-4 py-3">
                                    <h4 class="card-title mb-2">Criar Conta</h4>
                                    <p>Caso não tenha cadastro crie sua conta para acessar o cardápio.</p>
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                    <input type="text" asp-for="Nome" class="form-control mb-2" placeholder="Nome">
                                    <span asp-validation-for="Telefone" class="text-danger"></span>
                                    <input type="tel" asp-for="Telefone" class="form-control mb-2" placeholder="Telefone">
                                    <span asp-validation-for="Cpf" class="text-danger"></span>
                                    <input type="tel" asp-for="Cpf" class="form-control mb-2" placeholder="Cpf">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <input type="email" asp-for="Email" class="form-control mb-2" placeholder="Email">
                                    <span asp-validation-for="Senha" class="text-danger"></span>
                                    <input type="password" asp-for="Senha" class="form-control mb-2" placeholder="Senha">
                                    <input type="password" class="form-control mb-2" placeholder="Confirmar Senha">
                                    <div class="d-flex justify-content-between flex-sm-row flex-column">
                                        <a asp-action="LoginCliente" type="button" class="btn btn-danger mr-2"><i class="ft-check-square mr-1"></i>Voltar para Login</a>
                                        <button type="submit" class="btn btn-warning"><i class="ft-x mr-1"></i>Registrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>