<link rel="stylesheet" type="text/css" href="~/Tema/app-assets/fonts/feather/style.min.css">
<link rel="stylesheet" type="text/css" href="~/Tema/app-assets/fonts/simple-line-icons/style.css">
<link rel="stylesheet" type="text/css" href="~/Tema/app-assets/fonts/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/Tema/app-assets/vendors/css/perfect-scrollbar.min.css">
<link rel="stylesheet" type="text/css" href="~/Tema/app-assets/vendors/css/prism.min.css">
<link rel="stylesheet" type="text/css" href="~/Tema/app-assets/vendors/css/switchery.min.css">
<link rel="stylesheet" type="text/css" href="~/Tema/app-assets/vendors/css/chartist.min.css">
<link rel="stylesheet" type="text/css" href="~/Tema/app-assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="~/Tema/app-assets/css/bootstrap-extended.css">
<link rel="stylesheet" type="text/css" href="~/Tema/app-assets/css/colors.css">
<link rel="stylesheet" type="text/css" href="~/Tema/app-assets/css/components.css">
<link rel="stylesheet" type="text/css" href="~/Tema/app-assets/css/themes/layout-dark.css">
<link rel="stylesheet" href="~/Tema/app-assets/css/plugins/switchery.css">
<link rel="stylesheet" type="text/css" href="~/Tema/app-assets/css/pages/dashboard1.css">
<link rel="stylesheet" type="text/css" href="~/Tema/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="~/css/style.css">

<body class="gradient-king-yna">
    <div class="text-center bg-white inicio-dev-lanches">
        <h1 class="display-4">Bem Vindo</h1>
        <div class="item-flutuando">
            <img class="img-responsive" src="~/Tema/app-assets/img/DevL.png" />
        </div>
    </div>
</body>
