<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Bem Vindos ao <span>Dev Lanches</span></h1>
                <h2>Autonomia e qualidade para você</h2>

                <div class="btns">
                    <a href="#menu" class="btn-menu animated fadeInUp scrollto">Cardapio</a>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                <a href="https://www.youtube.com/watch?v=pOOfiTwLS68&t=2s" class="glightbox play-btn"></a>
            </div>

        </div>
    </div>
</section>