@model ProdutoEditarViewModel
@{
    var produtos = ViewBag.Produtos as List<string>;
    produtos.Add(string.Empty);
    
    var selectDosProdutos = new SelectList(produtos, string.Empty);
}

<div class="col-lg-6 col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Edição de Produtos - @Model.Nome</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form asp-action="Editar" method="POST">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-row">
                        <div class="col-md-6 col-12">
                            <div class="form-group mb-2">
                                <label asp-for="Nome"></label>
                                <input type="text" asp-for="Nome" class="form-control">
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group mb-2">
                                <label asp-for="Valor"></label>
                                <input type="text" asp-for="Valor" class="form-control">
                                <span asp-validation-for="Valor" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-12">
                            <div class="form-group mb-2">
                                <label asp-for="Categoria"></label>
                                <input type="text" asp-for="Categoria" class="form-control">
                                <span asp-validation-for="Categoria" class="text-danger"></span>
                            </div>
                        </div>

@*                        <div class="col-md-6 col-12">
                           <label asp-for="Status">Status</label>
                                <div class="form-check">
                                    <input type="radio" id="EdiçãoProdutoStatusIndisponivel" name="Status" class="form-check-input" value="0" checked="checked" />
                                    <label class="form-check-label" for="EdiçãoProdutoStatusIndisponivel">Indisponivel</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="EdiçãoProdutoStatusDisponivel" name="Status" class="form-check-input" value="1"/>
                                    <label class="form-check-label" for="EdiçãoProdutoStatusDisponivel">Disponivel</label>
                                </div>
                            </div>
                        </div>*@

                        <div class="col-md-6 col-12">
                            <div class="form-group mb-2">
                                <label asp-for="Descricao"></label>
                                <textarea id="basic-form-9" rows="4" asp-for="Descricao" class="form-control"></textarea>
                                <span asp-validation-for="Descricao" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-danger mr-2"><i class="ft-check-square mr-1"></i>Salvar</button>
                    <a class="btn btn-warning"asp-action="Index"><i class="ft-x mr-1"></i>Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
