@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <h4>Ao DevLanches.</h4>
    <div>
        <img src="~/Tema/app-assets/img/programador-comendo-cachorro-quente-tempo-de-pausa-no-trabalho_81894-6964-removebg-preview.png" />
    </div>
</div>
