@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <h4>Ao DevLanches.</h4>
    <div>
        <img class="img-responsive" src="~/Tema/app-assets/img/DevsTomandoCerveja.png" />
    </div>
</div>
