@model PedidoCadastrarViewModel

<div class="col-lg-6 col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Cadastro de Pedido</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form asp-action="Abrir" method="POST">
                    <div class="form-row">

                        @*INICIO DO SELECT*@
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group mb-2">
                                    <label for="cadastroClientePedido" class="form-label">Cliente <span class="text-danger">*</span></label>
                                    <select id="cadastroClientePedido" class="form-select"></select>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="cadastroMesaPedido" class="form-label">Mesa <span class="text-danger">*</span></label>
                                    <select id="cadastroMesaPedido" class="form-select"></select>
                                </div>
                            </div>
                        </div>
                        @*FIM DO SELECT*@

                        <div class="col-md-6 col-12">
                            <div class="form-group mb-2">
                                <label asp-for="Quantidade"></label>
                                <input type="text" asp-for="Quantidade" class="form-control">
                                <span asp-validation-for="Quantidade" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-12 col-12">
                            <div class="form-group mb-2">
                                <label asp-for="Observacao"></label>
                                <textarea id="basic-form-9" rows="4" asp-for="Observacao" class="form-control"></textarea>
                                <span asp-validation-for="Observacao" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-danger mr-2"><i class="ft-plus-square"></i>Confirmar</button>
                    <button type="button" class="btn btn-warning"><i class="ft-x mr-1"></i>Adicionar Produto</button>
                </form>
            </div>
        </div>
    </div>
</div>