@model List<Mesa>

<p class="h3">Lista de Mesas</p>

<div class="row mb-3">
    <div class="text-end">
        <a asp-action="cadastrar" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i> Cadastrar
        </a>
    </div>
</div>

<table class="table table-striped table-bordered">
    <thead>
    <!-- Cabeçalho da tabela-->
    <tr>
        <!-- Linha da tabela-->
        <th>Numero Mesa</th> <!-- Coluna específica do cabeçalho-->
        <th>Status</th>
        <th>Ação</th>

    </tr>
    </thead>
    <tbody>
    <!-- Lugar dos registros da tabela-->
    @foreach (var mesa in Model)
    {
        <tr>
            <!-- Linha-->
            <td>@mesa.NumeroMesa</td> <!-- Coluna específica para body-->
            <td>@mesa.Status</td>
            <td>
                <a class="btn btn-primary" asp-action="editar" asp-route-id="@mesa.Id">
                    <i class="fa-solid fa-pencil"></i> Editar
                </a>
                <a class="btn btn-outline-danger" asp-action="apagar" asp-route-id="@mesa.Id">
                    <i class="fa-solid fa-trash"></i> Apagar
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>