@keyframes flutuar {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

.item-flutuando {
    animation: flutuar 2s ease-in-out infinite;
}

.conteiner-texto-header {
    margin-left: 5%;
}

.logo {
    width: 100%;
    height: 100%;
}

.fundo-preto {
    background-color: #1C1C1C;
}

.texto-header{
    color: white;
}

.carrosel-telaInicio {
    width: 100%;
    height: 640px !important;
    background-color: black;
}

.container-imagem {
    max-height: 640px;
    width: 100%;
}

.body-color-home {
    background-color: #8A2BE2;
}

.body-login {
    background-image: linear-gradient(to bottom right, black, purple, DeepPink);
}

.sombra {
    box-shadow: 0px 10px 10px 8px #1C1C1C;
}

.sombra-login {
    box-shadow: 20px 20px 50px black;
}