<div class="modal fade" id="PedidoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" style="background: black;height: auto;">
            <div class="modal-header" style="background: black;height: auto;">
                <h5 class="modal-title">Carrinho</h5>
            </div>
            <div class="modal-body" id="carrinho-produtos" style="color: white !important;height: auto;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Voltar</button>
                <button type="button" class="btn btn-warning">Enviar Pedido</button>
            </div>
        </div>
    </div>
</div>