<div class="modal fade" id="PedidoModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style=" background: black;">
            <div class="modal-header" style=" background: black">
                <h5 class="modal-title">Carrinho</h5>
            </div>

            <div class="modal-body" id="carrinho-produtos" style="color: white !important"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Voltar</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Enviar Pedido</button>

            </div>
        </div>
    </div>
</div>