
<div class="modal left fade" id="produtoPedidoModal" tabindex="" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="nav flex-sm-column flex-row" style="color: black !important">

                    <div class="col-lg-6 menu-item" style="position: absolute; left: 0px; top: 0px;">
                        <img id="produto-escolhido-imagem" class="img-fluid menu-img" alt="">
                        <div class="menu-content">
                            <input type="hidden" id="produto-escolhido-id" />
                            <span id="produto-escolhido-nome"></span> R$ <span id="produto-escolhido-valor"></span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="botao-finalizar-pedido">Adicionar Mais Produtos</button>
            </div>
        </div>
    </div>
</div>